*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(1, 1, 15);
    color: #fff;
    padding: 20px;
    margin: 10px auto;
    width: 70%;

}

p{
    border: 2px solid rgb(1, 1, 15);
    padding: 20px;
    margin: 20px auto;
    width: 70%;
}

ul{
    background-color: rgb(1, 1, 15);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin: 20px auto;
}

li{
    color: #fff;
    line-height: 2em;
}

img{
    width: 500px;
    height: 300px;
    margin: 20px auto;
    display: block;
}